In [9]:
import pandas as pd
import numpy as np

In [5]:
#params
weather_file = r"C:\Users\imate\Documents\24.9.Notebooks_training\Final-pipeline\data\0_raw\weather_train.csv"
train_file = r"C:\Users\imate\Documents\24.9.Notebooks_training\Final-pipeline\data\0_raw\train.csv"
building_file = r"C:\Users\imate\Documents\24.9.Notebooks_training\Final-pipeline\data\0_raw\building_metadata.csv"
output_file = r"C:\Users\imate\Documents\24.9.Notebooks_training\Final-pipeline\data\0_raw\0_merged_train.csv"

In [6]:
#RAM 
def randomize_and_filter_dataset(file_path, target_size, random_seed=42):
    df = pd.read_csv(file_path)
    print('Before:',df.shape)
    np.random.seed(random_seed)
    indices_to_keep = np.random.choice(df.index, size=target_size, replace=False)
    filtered_data = df.loc[indices_to_keep]
    return filtered_data

In [ ]:
# Example usage:
train = randomize_and_filter_dataset(train_file, target_size=30)
print('After:',train.shape)

In [13]:
#Read and merge train csv
#weather_train.csv: site_id
#train.csv : building_id
#building_metadata.csv: site_id building_id

def break_datetime(df):
  df['timestamp_x']= pd.to_datetime(df['timestamp_x'])
  df['hour']= np.uint8(df['timestamp_x'].dt.hour)
  df['dayofweek']= np.uint8(df['timestamp_x'].dt.dayofweek)
  df['month']= np.uint8(df['timestamp_x'].dt.month)
  df['dayofyear']= np.uint16(df['timestamp_x'].dt.dayofyear)
  df['day']= np.uint16(df['timestamp_x'].dt.day)
  df['year']= np.uint16(df['timestamp_x'].dt.year)
  return df

def merge_csv_files(weather_file, train, building_file, output_file):
    # Read the CSV files
    weather_train = pd.read_csv(weather_file)
    #train = pd.read_csv(train_file)
    building_metadata = pd.read_csv(building_file)
    # Merge the dataframes
    merged_data =pd.merge(pd.merge(building_metadata, train, on='building_id'), weather_train, on='site_id')
    #Timestamp processing
    merged_data= break_datetime(merged_data)
    
    merged_data['timestamp'] = merged_data['timestamp_x']
    merged_data.drop(columns=['timestamp_x', 'timestamp_y'], inplace=True)
    
    # Save the merged dataframe to a new CSV file
    merged_data.to_csv(output_file, index=False)
    return merged_data

In [10]:
train_df = merge_csv_files(weather_file, train, building_file, output_file)
print("Merged data saved to merged_data.csv", train_df.shape)

Merged data saved to merged_data.csv (262305, 22)

# Test

In [17]:
test_file= r"C:\Users\imate\Documents\24.9.Notebooks_training\Final-pipeline\data\0_raw\test.csv"
weather_file=r"C:\Users\imate\Documents\24.9.Notebooks_training\Final-pipeline\data\0_raw\weather_test.csv"
building_file=r"C:\Users\imate\Documents\24.9.Notebooks_training\Final-pipeline\data\0_raw\building_metadata.csv"
output_test=r"C:\Users\imate\Documents\24.9.Notebooks_training\Final-pipeline\data\0_raw\0_merged_test.csv"

In [11]:
test = randomize_and_filter_dataset(test_file, target_size=30)
print('After:',test.shape)

Before: (41697600, 4)
After: (30, 4)

In [18]:

def break_datetime(df):
  df['timestamp_x']= pd.to_datetime(df['timestamp_x'])
  df['hour']= np.uint8(df['timestamp_x'].dt.hour)
  df['dayofweek']= np.uint8(df['timestamp_x'].dt.dayofweek)
  df['month']= np.uint8(df['timestamp_x'].dt.month)
  df['dayofyear']= np.uint16(df['timestamp_x'].dt.dayofyear)
  df['day']= np.uint16(df['timestamp_x'].dt.day)
  df['year']= np.uint16(df['timestamp_x'].dt.year)
  return df

def merge_csv_files(weather_file, train, building_file, output_file):
    # Read the CSV files
    weather_train = pd.read_csv(weather_file)
    #train = pd.read_csv(train_file)
    building_metadata = pd.read_csv(building_file)
    # Merge the dataframes
    merged_data =pd.merge(pd.merge(building_metadata, train, on='building_id'), weather_train, on='site_id')
    #Timestamp processing
    merged_data= break_datetime(merged_data)
    
    merged_data['timestamp'] = merged_data['timestamp_x']
    merged_data.drop(columns=['timestamp_x', 'timestamp_y'], inplace=True)
    
    # Save the merged dataframe to a new CSV file
    merged_data.to_csv(output_file, index=False)
    return merged_data


merge_csv_files(weather_file, test, building_file, output_test)

,site_id,building_id,primary_use,square_feet,year_built,floor_count,row_id,meter,air_temperature,cloud_coverage,...,sea_level_pressure,wind_direction,wind_speed,hour,dayofweek,month,dayofyear,day,year,timestamp
0,0,58,Lodging/residential,83379,2013.0,NaN,1037617,0,17.8,4.0,...,1021.4,100.0,3.6,3,5,12,336,2,2017,2017-12-02 03:00:00
1,0,58,Lodging/residential,83379,2013.0,NaN,1037617,0,17.8,2.0,...,1022.0,130.0,3.1,3,5,12,336,2,2017,2017-12-02 03:00:00
2,0,58,Lodging/residential,83379,2013.0,NaN,1037617,0,16.1,0.0,...,1021.9,140.0,3.1,3,5,12,336,2,2017,2017-12-02 03:00:00
3,0,58,Lodging/residential,83379,2013.0,NaN,1037617,0,17.2,0.0,...,1022.2,140.0,3.1,3,5,12,336,2,2017,2017-12-02 03:00:00
4,0,58,Lodging/residential,83379,2013.0,NaN,1037617,0,16.7,2.0,...,1022.3,130.0,2.6,3,5,12,336,2,2017,2017-12-02 03:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522570,15,1381,Office,84615,1963.0,NaN,39666699,2,3.3,NaN,...,1018.3,150.0,7.7,12,0,2,57,26,2018,2018-02-26 12:00:00
522571,15,1381,Office,84615,1963.0,NaN,39666699,2,2.8,NaN,...,1017.8,140.0,5.1,12,0,2,57,26,2018,2018-02-26 12:00:00
522572,15,1381,Office,84615,1963.0,NaN,39666699,2,2.8,NaN,...,1017.2,140.0,6.2,12,0,2,57,26,2018,2018-02-26 12:00:00
522573,15,1381,Office,84615,1963.0,NaN,39666699,2,2.8,NaN,...,1016.1,140.0,5.1,12,0,2,57,26,2018,2018-02-26 12:00:00
522574,15,1381,Office,84615,1963.0,NaN,39666699,2,3.3,NaN,...,1014.7,140.0,5.1,12,0,2,57,26,2018,2018-02-26 12:00:00