In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import holidays
import os

In [4]:
#Load
base_path = r"C:\Users\imate\Documents\24.9.Notebooks_training\Energy-predictor\data\0_raw"
train_file = os.path.join(base_path, "0_merged_train.csv")
train_df=pd.read_csv(train_file)

# Remove outliers

In [3]:
#Check which building has the max meter reading -> outlier remove!
print(train_df[train_df.meter_reading == train_df.meter_reading.max()])

        site_id  building_id primary_use  square_feet  year_built  \
236943       15         1381      Office        84615      1963.0
236944       15         1381      Office        84615      1963.0
236945       15         1381      Office        84615      1963.0
236946       15         1381      Office        84615      1963.0
236947       15         1381      Office        84615      1963.0
...         ...          ...         ...          ...         ...
245392       15         1381      Office        84615      1963.0
245393       15         1381      Office        84615      1963.0
245394       15         1381      Office        84615      1963.0
245395       15         1381      Office        84615      1963.0
245396       15         1381      Office        84615      1963.0

        floor_count  meter  meter_reading  air_temperature  cloud_coverage  \
236943          NaN      2         1106.1             -1.0             NaN
236944          NaN      2         1106.1             -1.0             NaN
236945          NaN      2         1106.1             -1.0             NaN
236946          NaN      2         1106.1             -1.0             NaN
236947          NaN      2         1106.1             -1.0             NaN
...             ...    ...            ...              ...             ...
245392          NaN      2         1106.1              3.0             NaN
245393          NaN      2         1106.1              2.8             2.0
245394          NaN      2         1106.1              2.8             NaN
245395          NaN      2         1106.1              2.2             NaN
245396          NaN      2         1106.1              1.7             NaN

        ...  sea_level_pressure  wind_direction  wind_speed  hour  dayofweek  \
236943  ...                 NaN           330.0         4.1     7          5
236944  ...                 NaN           330.0         2.6     7          5
236945  ...                 NaN           340.0         2.1     7          5
236946  ...                 NaN           250.0         2.6     7          5
236947  ...                 NaN           240.0         3.1     7          5
...     ...                 ...             ...         ...   ...        ...
245392  ...                 NaN           180.0         5.7     7          5
245393  ...              1007.4           180.0         7.7     7          5
245394  ...              1007.5           180.0         5.1     7          5
245395  ...              1008.0           170.0         4.6     7          5
245396  ...              1008.5           180.0         8.8     7          5

        month  dayofyear  day  year            timestamp
236943     11        331   26  2016  2016-11-26 07:00:00
236944     11        331   26  2016  2016-11-26 07:00:00
236945     11        331   26  2016  2016-11-26 07:00:00
236946     11        331   26  2016  2016-11-26 07:00:00
236947     11        331   26  2016  2016-11-26 07:00:00
...       ...        ...  ...   ...                  ...
245392     11        331   26  2016  2016-11-26 07:00:00
245393     11        331   26  2016  2016-11-26 07:00:00
245394     11        331   26  2016  2016-11-26 07:00:00
245395     11        331   26  2016  2016-11-26 07:00:00
245396     11        331   26  2016  2016-11-26 07:00:00

[8454 rows x 22 columns]

In [ ]:
train_df.drop(['year_built', 'floor_count'], axis=1,inplace=True)

In [20]:
#check
train_df = train_df.drop(train_df[train_df['building_id'] == 1381].index)
print(train_df[train_df.meter_reading == train_df.meter_reading.max()])

       Unnamed: 0.1  Unnamed: 0  site_id  building_id primary_use  \
17546         17546       17546        2          221   Education
17547         17547       17547        2          221   Education
17548         17548       17548        2          221   Education
17549         17549       17549        2          221   Education
17550         17550       17550        2          221   Education
...             ...         ...      ...          ...         ...
26324         26324       26324        2          221   Education
26325         26325       26325        2          221   Education
26326         26326       26326        2          221   Education
26327         26327       26327        2          221   Education
26328         26328       26328        2          221   Education

       square_feet  year_built  floor_count  meter          timestamp_x  ...  \
17546       204349      1993.0          NaN      1  2016-03-22 20:00:00  ...
17547       204349      1993.0          NaN      1  2016-03-22 20:00:00  ...
17548       204349      1993.0          NaN      1  2016-03-22 20:00:00  ...
17549       204349      1993.0          NaN      1  2016-03-22 20:00:00  ...
17550       204349      1993.0          NaN      1  2016-03-22 20:00:00  ...
...            ...         ...          ...    ...                  ...  ...
26324       204349      1993.0          NaN      1  2016-03-22 20:00:00  ...
26325       204349      1993.0          NaN      1  2016-03-22 20:00:00  ...
26326       204349      1993.0          NaN      1  2016-03-22 20:00:00  ...
26327       204349      1993.0          NaN      1  2016-03-22 20:00:00  ...
26328       204349      1993.0          NaN      1  2016-03-22 20:00:00  ...

       precip_depth_1_hr sea_level_pressure  wind_direction  wind_speed  hour  \
17546                NaN             1015.3           270.0         3.6    20
17547                0.0             1015.6           270.0         4.1    20
17548                0.0             1016.0           270.0         3.1    20
17549                0.0             1016.6           280.0         3.1    20
17550                0.0             1017.0           270.0         3.1    20
...                  ...                ...             ...         ...   ...
26324                0.0             1012.4           210.0         3.6    20
26325                0.0             1011.7           260.0         3.6    20
26326                0.0             1011.2           240.0         4.6    20
26327                0.0             1011.0           250.0         3.6    20
26328                0.0             1011.0           250.0         2.6    20

       dayofweek  month  dayofyear  day  year
17546          1      3         82   22  2016
17547          1      3         82   22  2016
17548          1      3         82   22  2016
17549          1      3         82   22  2016
17550          1      3         82   22  2016
...          ...    ...        ...  ...   ...
26324          1      3         82   22  2016
26325          1      3         82   22  2016
26326          1      3         82   22  2016
26327          1      3         82   22  2016
26328          1      3         82   22  2016

[8783 rows x 25 columns]

# Missing Value Imputation

In [8]:
def percent_missing_val(df):

  percent_missing = (df.isnull().sum() * 100) / len(df)
  missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
  return missing_value_df

In [4]:
df = percent_missing_val(train_df)
df

                           column_name  percent_missing
site_id                        site_id         0.000000
building_id                building_id         0.000000
primary_use                primary_use         0.000000
square_feet                square_feet         0.000000
year_built                  year_built        63.583614
floor_count                floor_count        63.218391
meter                            meter         0.000000
meter_reading            meter_reading         0.000000
air_temperature        air_temperature         0.050323
cloud_coverage          cloud_coverage        40.135720
dew_temperature        dew_temperature         0.062523
precip_depth_1_hr    precip_depth_1_hr        28.452374
sea_level_pressure  sea_level_pressure        11.732906
wind_direction          wind_direction         8.004422
wind_speed                  wind_speed         0.390004
hour                              hour         0.000000
dayofweek                    dayofweek         0.000000
month                            month         0.000000
dayofyear                    dayofyear         0.000000
day                                day         0.000000
year                              year         0.000000
timestamp                    timestamp         0.000000

In [9]:
def nan_fillers(df):
  air_temp_df=df.groupby(['site_id', 'day', 'month'])['air_temperature'].transform('mean')
  df['air_temperature'].fillna(air_temp_df, inplace=True)

  dew_temp_df=df.groupby(['site_id', 'day', 'month'])['dew_temperature'].transform('mean')
  df['dew_temperature'].fillna(dew_temp_df, inplace=True)

  cloud_df=df.groupby(['site_id', 'day', 'month'])['cloud_coverage'].transform('mean')
  df['cloud_coverage'].fillna(cloud_df, inplace=True)

  sea_level_df=df.groupby(['site_id', 'day', 'month'])['sea_level_pressure'].transform('mean')
  df['sea_level_pressure'].fillna(sea_level_df, inplace=True)

  precip_df=df.groupby(['site_id', 'day', 'month'])['precip_depth_1_hr'].transform('mean')
  df['precip_depth_1_hr'].fillna(precip_df, inplace=True)

  wind_dir_df=df.groupby(['site_id', 'day', 'month'])['wind_direction'].transform('mean')
  df['wind_direction'].fillna(wind_dir_df, inplace=True)

  wind_speed_df=df.groupby(['site_id', 'day', 'month'])['wind_speed'].transform('mean')
  df['wind_speed'].fillna(wind_speed_df, inplace=True)


  return df

In [6]:


train_df_clean=nan_fillers(train_df)

In [7]:
train_df_clean['cloud_coverage'].fillna(train_df_clean['cloud_coverage'].median(), inplace=True)
train_df_clean['sea_level_pressure'].fillna(train_df_clean['sea_level_pressure'].median(), inplace=True)
train_df_clean['precip_depth_1_hr'].fillna(train_df_clean['precip_depth_1_hr'].median(), inplace=True)

In [8]:
train_df_clean.to_csv(r'C:\Users\imate\Documents\24.9.Notebooks_training\Energy-predictor\data\1_interim\1_cleaned_train.csv', index=False)

# TEST

In [5]:
test_file = os.path.join(base_path, "0_merged_test.csv")
test_df=pd.read_csv(test_file)

In [6]:
#drop bad quality features
test_df.drop(['year_built', 'floor_count'], axis=1,inplace=True)

In [10]:
#Missing values and NaN values
test_df=nan_fillers(test_df)
test_df['cloud_coverage'].fillna(test_df['cloud_coverage'].median(), inplace=True)
test_df['sea_level_pressure'].fillna(test_df['sea_level_pressure'].median(), inplace=True)
test_df['precip_depth_1_hr'].fillna(test_df['precip_depth_1_hr'].median(), inplace=True)

In [11]:
#Output
test_df.to_csv(r'C:\Users\imate\Documents\24.9.Notebooks_training\Energy-predictor\data\1_interim\1_cleaned_test.csv', index=False)

In [12]:
test_df

,site_id,building_id,primary_use,square_feet,row_id,meter,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,hour,dayofweek,month,dayofyear,day,year,timestamp
0,0,58,Lodging/residential,83379,1037617,0,25.0,6.000000,20.0,1.382557,1019.700000,0.0,0.0,3,5,12,336,2,2017,2017-12-02 03:00:00
1,0,58,Lodging/residential,83379,1037617,0,24.4,3.044610,21.1,-1.000000,1020.200000,70.0,1.5,3,5,12,336,2,2017,2017-12-02 03:00:00
2,0,58,Lodging/residential,83379,1037617,0,22.8,2.000000,21.1,0.000000,1020.200000,0.0,0.0,3,5,12,336,2,2017,2017-12-02 03:00:00
3,0,58,Lodging/residential,83379,1037617,0,21.1,2.000000,20.6,0.000000,1020.100000,0.0,0.0,3,5,12,336,2,2017,2017-12-02 03:00:00
4,0,58,Lodging/residential,83379,1037617,0,20.0,2.000000,20.0,-1.000000,1020.000000,250.0,2.6,3,5,12,336,2,2017,2017-12-02 03:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261907,15,1381,Office,84615,39666699,2,3.0,1.109988,-8.0,3.495009,1016.980579,180.0,5.7,12,0,2,57,26,2018,2018-02-26 12:00:00
261908,15,1381,Office,84615,39666699,2,2.8,2.000000,-8.9,3.495009,1007.400000,180.0,7.7,12,0,2,57,26,2018,2018-02-26 12:00:00
261909,15,1381,Office,84615,39666699,2,2.8,1.109988,-7.2,3.495009,1007.500000,180.0,5.1,12,0,2,57,26,2018,2018-02-26 12:00:00
261910,15,1381,Office,84615,39666699,2,2.2,1.109988,-6.7,3.495009,1008.000000,170.0,4.6,12,0,2,57,26,2018,2018-02-26 12:00:00
261911,15,1381,Office,84615,39666699,2,1.7,1.109988,-5.6,-1.000000,1008.500000,180.0,8.8,12,0,2,57,26,2018,2018-02-26 12:00:00